@keyframes fade-down {
	from {
		opacity: 0;
		transform: translateY(-100px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes zoom-in {
	from {
		opacity: 0;
		transform: scale(.2);
	}
	to {
		opacity: 1;
		transform: scale(1);
	}
}

.swiper-slide-active {
	.home-slider__title,
	.home-slider__box-1,
	.home-slider__box-2,
	.home-slider__box-3,
	.section__videos {
		opacity: 0;
	}

	.home-slider__title {
		animation: fade-down $tr .15s forwards;
	}

	.home-slider__box-1 {
		animation: fade-down $tr .25s forwards;
	}

	.home-slider__box-2 {
		animation: fade-down $tr .30s forwards;
	}

	.home-slider__box-3 {
		animation: fade-down $tr .35s forwards;
	}

	.section__videos {
		animation: zoom-in $tr .15s forwards;
	}
}
