// Пользовательские переменные
:root {
    --ffMain: 'Steppe', sans-serif;
    --ffHeader: 'Montserrat', sans-serif;
    --tr: .3s;  // Плавность перехода
    --radius: 16px; // border-radius
}

$ffMain: var(--ffMain);
$ffHeader: var(--ffHeader);
$tr: var(--tr);
$minHover: 1024px; // Минимальное разрешения экрана для hover-эффекта
$container: 1800px;
$radius: var(--radius);

$laptop-l: 1440px;
$laptop: 1024px;
$tablet: 768px;
$mobile-l: 425px;
$mobile-m: 375px;
$mobile-s: 320px;

// Цвета
:root {
    --main: #fff;
    --second: #747474;
    --accent: #387DFB;
    --accent-hover: #80ADFF;
    --accent-active: #387DFB;
    --accent2: #DC8B2D;
    --accent2-active: #C27B29;
    --outline: #C0C0C0;
    --bg-page: #12141A;
    --bg-block: #F8F8F8;
    --error: #E83D3D;
}

$main: var(--main);
$second: var(--second);
$accent: var(--accent);
$accent-hover: var(--accent-hover);
$accent-active: var(--accent-active);
$accent2: var(--accent2);
$accent2-active: var(--accent2-active);
$outline: var(--outline);
$bg-page: var(--bg-page);
$bg-block: var(--bg-block);
$error: var(--error);
