.home-slider {
	margin: 0;
	backface-visibility: hidden;
	// transform: translate3d(0, 0, 0);
	transition: all 0.3s;
	min-height: 100%;
}
.os-macos .home-slider {
	will-change: initial;
}

.home-slider__slide {
	position: static;
	left: 0;
	top: 0;
	width: 100%;
	backface-visibility: hidden;
	transform: translate3d(0, 0, 0);
	will-change: transform;
}
.os-macos .home-slider__slide {
	will-change: initial;
}
.home-slider__slide-1 {
	@media (max-height: 900px) and (min-width: 1200px) {
		.section__title {
			line-height: 1;
			font-size: 55px;
			margin-bottom: 20px;
		}
		.section__paragraph {
			margin-bottom: 12px;
			line-height: 1.3;
		}
		.section__paragraph:last-of-type {
			margin-bottom: 0;
		}
		.section__list-item {
			line-height: 1.3;
		}
		.section__inner {
			gap: 10px;
		}
	}
	@media (max-height: 690px) and (min-width: 1200px) {
		.section__inner {
			padding-top: 178px;
		}
		.section__title {
			font-size: 45px;
		}
		.section__list-item,
		.section__paragraph {
			font-size: 13.5px;
			margin-bottom: 10px;
		}
	}
	@media (max-width: 576px) {
		.section__inner {
			padding-top: 100px;
		}
	}
}
.home-slider__slide-2 {
	.section__paragraph {
		@media (max-width: 576px) {
			margin-bottom: 18px;
		}
	}
}
.home-slider__slide {
	@media (max-width: 576px) {
		.section__title {
			margin-bottom: 22px;
		}
	}
}
.home-slider__slide-3 {
	.section__title {
		margin-bottom: 10px;
		@media (min-width: 1440px) {
			margin-bottom: 18px;
		}
		@media (min-width: 1920px) {
			margin-bottom: 30px;
		}
		@media (max-width: 576px) {
			margin-bottom: 6px;
		}
	}
	.section__subtitle {
		margin-bottom: 22px;
		@media (min-width: 1440px) {
			margin-bottom: 30px;
			font-size: 22px;
		}
		@media (min-width: 1920px) {
			margin-bottom: 50px;
			font-size: 32px;
		}
		@media (max-width: 576px) {
			font-size: 16px;
			margin-bottom: 16px;
		}
	}
	.section__paragraph {
		@media (max-width: 576px) {
			margin-bottom: 16px;
		}
	}
}
.home-slider__title {
	backface-visibility: hidden;
}
.home-slider__desc {
	backface-visibility: hidden;
}
.home-slider .section__footer {
	backface-visibility: hidden;
	@media (min-width: 1700px) {
		padding-left: 120px;
		padding-right: 120px;
	}
}
.section__body-img,
.section__videos {
	backface-visibility: hidden;
}
.home-slider__navigate {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	height: 100vh;
	pointer-events: none;

	@media (max-width: 1179px) {
		display: none;
	}
}

.home-slider__navigate-container {
	height: 100%;
	position: relative;
}

.home-slider__navigate-inner {
	height: 100%;
	position: absolute;
	top: 40px;
	// transform: translateY(-100%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-slider__scrollbar {
	margin: 20px 0;
	margin-top: auto;
	margin-bottom: auto;
	width: 2px;
	height: 70vh;
	// height: 65vh;
	background-color: rgba(255, 255, 255, 0.3);

	.swiper-scrollbar-drag {
		background-color: $main;
	}

	@media (max-width: 1599px) {
		// height: 40vh;
		height: 46vh;
	}
}
.home-slider__arrow {
	display: none;
}
.home-slider__scrollbar-shaft {
	display: block;
	background: #fff;
	width: 100%;
	height: 33.33%;
	transition: all 0.3s ease;
}
