.home-slider {
	// height: 300vh;
	margin: 0;
	backface-visibility: hidden;
	// height: 100vh;
	// overflow: hidden;
	// overflow: auto;

	// .swiper-slide {
	// 	overflow: auto;
	// }
}

.home-slider__slide {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	// position: relative;
	backface-visibility: hidden;
}
.home-slider__title {
	backface-visibility: hidden;
}
.home-slider__desc {
	backface-visibility: hidden;
}
.home-slider .section__footer {
	backface-visibility: hidden;
}
.section__body-img,
.section__videos {
	backface-visibility: hidden;
}
.home-slider__navigate {
	position: fixed;
	top: 50%;
	left: 0;
	right: 0;
	z-index: 10;

	@media (max-width: 1179px) {
		display: none;
	}
}

.home-slider__navigate-container {
	position: relative;
}

.home-slider__navigate-inner {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.home-slider__scrollbar {
	margin: 20px 0;
	width: 2px;
	height: 65vh;
	background-color: rgba(255, 255, 255, 0.3);

	.swiper-scrollbar-drag {
		background-color: $main;
	}

	@media (max-width: 1599px) {
		height: 40vh;
	}
}
